<div class="grid">
    <p-card header="N. clienti" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{stats.clienti.length}}</h3>
    </p-card>
    <p-card header="Cliente saldo maggiore" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>
            {{calcSaldoPiuAlto(stats.clienti).emailCliente}}
        </h3>
    </p-card>
    <p-card header="Data ultima transazione" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{calcUltimaTransazione(stats.clienti) | date}}</h3>
    </p-card>
    <p-card header="N. Transazioni - Importi" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{calcTotTransazioni(stats.clienti)}}</h3>
    </p-card>
</div>
<div class="grid">
    <p-card header="Saldo medio dei conti" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{calcSaldoMedioConti(stats.clienti) | currency}}</h3>
    </p-card>
    <p-card header="Transazioni medie" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{stats.transazioniMediePerCliente}}</h3>
    </p-card>
    <p-card header="Clienti saldo +/-" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{calcPositivoNegativo(stats.clienti)}}</h3>
    </p-card>
    <p-card header="Saldo totale" class="col-12 md:col-6 lg:col-3" [style]="{'border': '1px solid white'}">
        <h3>{{calcSaldoTotale(stats.clienti) | currency}}</h3>
    </p-card>
</div>
<p-card header="Importo totale per mese">
    <p-table [value]="tableTransactions" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Gennaio</th>
                <th>Febbraio</th>
                <th>Marzo</th>
                <th>Aprile</th>
                <th>Maggio</th>
                <th>Giugno</th>
                <th>Luglio</th>
                <th>Agosto</th>
                <th>Settembre</th>
                <th>Ottobre</th>
                <th>Novembre</th>
                <th>Dicembre</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mese>
            <tr>
                <td *ngFor="let importo of mese">
                   {{importo | currency}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-card header="Clienti per intervallo di saldo">
    <p-table [value]="tableIntervalli" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>0 - 1000</th>
                <th>1001 - 5000</th>
                <th>5001 - 25000</th>
                <th>25001 - 100000</th>
                <th>> 100000</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-intervallo>
            <tr>
                <td *ngFor="let int of intervallo">
                   {{int}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>