<div th:fragment="footer" xmlns:th="http://w3c.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav>
	<h3>Navigazione</h3>
	<ul sec:authorize="!hasRole('ADMIN')">
		<li><a href="/">Home page</a></li>
		<li><a href="/acquisti">Acquisti</a></li>
		<li><a href="/carrello">Riepilogo</a></li>
		<li><a href="/admin">Sezione amministratore</a></li>
	</ul>
	<ul sec:authorize="hasRole('ADMIN')">
		<li><a href="/admin">Home page</a></li>
		<li><a href="/admin/gestioneArticoli">Gestione articoli</a></li>
		<li><a href="/admin/gestioneOrdini">Gestione ordini</a></li>
	</ul>
</nav>

<nav>
	<h3>Contatti</h3>
	<ul>
		<li><a href="#">Contatti</a></li>
		<li><a href="#">Aiuto</a></li>
		<li><a href="#">Info</a></li>
		<li><a href="#">Site map</a></li>
	</ul>
</nav>

<section>
	<h3>Network</h3>
	<ul>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Instagram</a></li>
		<li><a href="#">X</a></li>
		<li><a href="#">Pinterest</a></li>
	</ul>
</section>

<p class="copyright">2024 Negozio On-line<sup>&copy;</sup></p>
</div>