<div th:fragment="navbar" xmlns:th="http://w3c.org/1999/xhtml" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div>
				<a class="navbar-brand" href="/">Applicazione Bancaria</a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="menu">
			<ul th:if="${utente_log?.getUsername()} != null" class="nav navbar-nav">
				<li><a href="/acquisti">Acquista</a></li>
				<li><a href="/carrello">Carrello</a></li>
			</ul>
		
			<ul th:if="${utente_log?.getUsername()} != null" class="nav navbar-nav navbar-right">
				<li>
					<a href="/carrello">
						<span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>
						<span class="badge">
							<th:block th:text="${carrello?.getArticoli()} ? ${carrello?.getArticoli()} : 0"></th:block>
						</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<span class="glyphicon glyphicon-user">&nbsp;</span>
						<span class="badge">
							<th:block th:text="${utente_log?.getUsername()} ? ${utente_log?.getUsername()} : ''"></th:block>
						</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/modUtente">Modifica account</a></li>
						<li><a href="/ordini">Riepilogo ordini</a></li>
						<li><a style="color: red;" href="/eliminaUtente">Elimina account</a></li>
					</ul>
				</li>
				<li>
					<a href="/logout">
						<span class="glyphicon glyphicon-user">&nbsp;</span>
						Logout
					</a>
				</li>
			</ul>
			
			<div>
				<ul th:if="${utente_log?.getUsername()} == null" class="nav navbar-nav navbar-right">
					<li>
						<a href="/registrazione">
							<span class="glyphicon glyphicon-user">&nbsp;</span>Registrati
						</a>
					</li>
					<li>
						<a href="/login">
							<span class="glyphicon glyphicon-log-in">&nbsp;</span>Log-in
						</a>
					</li>
				</ul>
			</div>
			<div sec:authorize="hasRole('ADMIN')">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/admin/gestioneArticoli">
							<span class="glyphicon glyphicon-briefcase">&nbsp;</span>Gestione articoli
						</a>
					</li>
					<li>
						<a href="/admin/gestioneOrdini">
							<span class="glyphicon glyphicon-list">&nbsp;</span>Gestione ordini
						</a>
					</li>
					<li>
						<a href="/logoutAdmin">
							<span class="glyphicon glyphicon-log-in">&nbsp;</span>Logout
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
</div>