<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/cdn :: cdn">
</head>
<body>
<div th:include="fragments/nav :: navbar"></div>
<div class="container" style="background-image: url('/img/pagamenti.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: 
fixed;flex:1;padding-top: 60px;width: 100%;padding-left: 0;padding-right: 0;display: flex;align-items: center;">

	<div class="jumbotron" style="margin-top: 30px;background: none;padding: 20px;width: 70%;margin-left: 90px;">
		<h1 style="color: rgba(255,255,255, 0.9);"><strong>Benvenuto <span th:text="*{nome}"></span></strong></h1>
		<a class="btn btn-success" role="button" href="/pagamento" style="width: 250px;height: 50px;align-content: center;">
			Effettua un pagamento&nbsp; <span class="glyphicon glyphicon-transfer"></span>
		</a>
		<a class="btn btn-success" role="button" href="/visualizzaprestiti" style="margin-left: 20px;width: 250px;height: 50px;align-content: center;">
			I tuoi prestiti&nbsp; <span class="glyphicon glyphicon-save"></span>
		</a>
	</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>