<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/cdn :: cdn"></head>
<body>
<div th:insert="fragments/nav :: navbar"></div>
<div class="container" style="background-image: url('/img/sfondoHome.png'); background-size: cover; background-repeat: no-repeat; background-attachment: 
fixed;width: 100%;display: flex;align-items: center;height: 100vh;flex-direction: column;justify-content: center;background-position: center;">
	
	<div class="jumbotron" style="margin-top: 20px;background:  rgba(204, 204, 204, 0.6);padding: 20px;width: 70%;margin-left: 90px;">
	<header class="page-header">
		<h3 style="color: rgba(0, 0, 0, 0.8);">Registrati</h3>
	</header>
	
	<div style="color: red;font-size: 20px;" th:if="${checkUser}" id="error">
		<div th:text="${checkUser}"></div>
	</div>
	<br>
	
<script>
	$(document).ready(function() {
		$("input").on('click', function() {
			$("#error").hide();
			});
		});
</script>
	
	<form th:action="@{/registrazione}" th:object="${cliente}" method="post" class="form-horizontal" id="clienteForm">
		<!-- NOME -->
		<div class="form-group">
			<label class="col-md-1 control-label">Nome</label>
			<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input type="text" name="nome" id="nome" placeholder="Nome..." class="form-control" th:field="*{nomeCliente}" required>
				</div>
			</div>
			<div class="col-md-7 error" id="infoNome"></div>
		</div>
		<!-- COGNOME -->
		<div class="form-group">
			<label class="col-md-1 control-label">Cognome</label>
			<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input type="text" name="cognome" id="cognome" placeholder="Cognome..." class="form-control" th:field="*{cognomeCliente}" required>
				</div>
			</div>
			<div class="col-md-7 error" id="infoCognome"></div>
		</div>
		<!-- EMAIL -->
		<div class="form-group">
			<label class="col-md-1 control-label">Email</label>
			<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-envelope"></i>
					</span>
					<input type="text" name="email" id="email" placeholder="Email..." class="form-control" th:field="*{emailCliente}" required>
				</div>
			</div>
			<div class="col-md-7 error" id="infoEmail"></div>
		</div>
		<!-- PASSWORD -->
		<div class="form-group">
			<label class="col-md-1 control-label">Password</label>
			<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
					<input type="password" name="password" id="password" placeholder="Password..." class="form-control" th:field="*{passwordCliente}" required>
				</div>
			</div>
			<div class="col-md-7 error" id="infoPassword"></div>
		</div>
		<div th:if="${validInputs}" class="alert alert-danger" th:text="${validInputs}" style="margin-top: 10px;"></div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<button type="submit" class="btn btn-info" style="color: #141414;">
					Registrati&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span>
				</button>
			</div>
		</div>
	</form>
	</div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>