<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/cdn :: cdn">
<title>Prestiti</title>
</head>
<body>
<div th:include="fragments/nav :: navbar"></div>
<div class="container" style="background-image: url('/img/img.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; flex:1; padding-top: 60px; width: 100%; padding-left: 0; padding-right: 0;">
	
	<div class="jumbotron" style="margin-top: 30px; background: rgba(204, 204, 204,0.8); padding: 20px; width: 70%; margin-left: auto; margin-right: auto;">

<div class="row">
 <form th:action="@{/selprestito}" method="post" class="form-horizontal" id="prestitoForm" style="text-align: center;">
	<header class="page-header">
		<h2><strong>I tuoi prestiti</strong></h2>
	</header>
	<div style="display: flex; justify-content: center; width: 100%;">
		<select name="codPrestito" th:if="${listaPrestiti!=null}" id="codPrestito" multiple class="form-control" aria-label="Default select example" style="width: 50%;">
			<option disabled>Seleziona un tuo prestito</option>
			<option th:each="prestito : ${listaPrestiti}" th:value="${prestito.codPrestito}" th:text="${prestito.codPrestito}"></option>
		</select>
		<p th:if="${listaPrestiti==null}">Non ci sono prestiti a tuo nome
	</div>
</form>
</div>
<script>
	$(document).ready(function(){
		$('#codPrestito').change(function(){
			$('#prestitoForm').submit();
			});
		});
</script>
<br><br>


<div class="row" >

<div class="panel-group">
<div class="col-sm-6">
  <div class="panel panel-default" th:if="${prestito != null}">
  <div class="panel-heading">
  	<h2 style="font-size: 18px;"><strong>Cod prestito</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<span style="font-size: 29px;" th:text="*{prestito.codPrestito}"></span></h2>
	</div>
	<br>
    <div class="panel-body">
    	<p style="font-size: 14px;"><strong>Importo:</strong>&nbsp;&nbsp;<span th:text="*{#numbers.formatCurrency(prestito.importo)}"></span></p>
		<p style="font-size: 14px;"><strong>Durata:</strong>&nbsp;&nbsp;<span th:text="*{prestito.durataInMesi}"></span></p>
		<p style="font-size: 14px;"><strong>Tasso interesse:</strong> &nbsp;&nbsp;<span th:text="*{prestito.tassoInteresse}"></span></p>
		<p style="font-size: 14px;"><strong>Codice cliente:</strong>&nbsp;&nbsp;<span th:text="*{prestito.codCliente}"></span></p>
	</div>
	
  </div>
  </div>
  
  <!---------------------------------- Panel richieste prestito ---------------------------------------------->
  
  <div class="col-sm-6" th:if="${listaRichiestePrestito!=null}">
  <div class="panel panel-default">
  <div class="panel-heading">
  	<h2 style="font-size: 18px;"><strong>Le tue richieste</strong> </h2>
	</div>
    <div class="panel-body">
    	<table>
    		<thead>
    			<tr>
    				<th>Codice richiesta</th>
    				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    				<th>Importo</th>
    				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    				<th>Data</th>
    				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    				<th>Stato</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="richiesta : ${listaRichiestePrestito}">
    				<td th:text="${richiesta.codRichiesta}"></td>
    				<td></td>
    				<td th:text="${#numbers.formatCurrency(richiesta.importo)}"></td>
    				<td></td>
    				<td th:text="${#dates.format(richiesta.dataRichiesta, 'dd/MMM/YYYY')}"></td>
    				<td></td>
    				<td th:text="${richiesta.stato}"></td>
    			</tr>
    		</tbody>
    	</table>
    
    </div>
  </div>
</div>
<div class="col-sm-6" th:if="${listaRichiestePrestito==null}">
  <div class="panel panel-default">
  <div class="panel-heading">
  	<h2 style="font-size: 18px;"><strong>Nessuna richiesta pendente</strong> </h2>
	</div>
	</div>
</div>

</div>
</div>	
	
	<!------------ Button richiedi prestito ------------->
		<a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#richiestaPrestitoModal" style="margin-top: 30px;">
			Richiedi un nuovo prestito&nbsp; <span class="glyphicon glyphicon-send"></span>
		</a>
		
		<!---------------------------------------------- Modal per la richiesta prestito ------------------------------------>		
		
		<div class="modal fade" id="richiestaPrestitoModal" tabindex="-1" role="dialog" aria-labelledby="richiestaPrestitoModalLabel" aria-hidden="true">
			        <div class="modal-dialog modal-md">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">&times;</span>
			                    </button>
			                    <h4 class="modal-title" id="richiestaPrestitoModalLabel">Inserisci i dati richiesti</h4>
			                </div>
			                <form th:action="@{/richiediprestito}" method="post" class="form-horizontal">
			                   <div class="modal-body"> 
			                   <div class="form-group">
			                        <label class="col-md-3 control-label">Importo</label>
			                        <div class="col-md-9 inputGroupContainer">
			                            <div class="input-group">
			                                <span class="input-group-addon">
			                                    <i class="glyphicon glyphicon-euro"></i>
			                                </span>
			                                <input type="number" class="form-control" name="importo" min="5000">
			                            </div>
			                        </div>
                    			</div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
			                    <button type="submit" class="btn btn-warning">Conferma</button>
			                </div>
			            	</form>
			        </div>
   		 		</div>
		</div>
		
</div>

</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>