<p-button type="button" severity="primary" [raised]="true" size="small" label="Lista clienti"  (onClick)="clientList()"/>
<p-button type="button" severity="primary" [raised]="true" size="small" label="Aggiungi cliente" (onClick)="addClient()"/>
<p-button type="button" severity="primary" [raised]="true" size="small" label="Cliente per ID" (onClick)="getClient()"/>
<p-button type="button" severity="primary" [raised]="true" size="small" label="Cancella conto per ID" (onClick)="deleteConto()"/>
<p-button type="button" severity="primary" [raised]="true" size="small" label="Statistiche" (onClick)="getStats()"/>